<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css({.temp,src}) styles/main.css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="bower_components/pagedown-bootstrap/css/Markdown.Editor.css">
        <!-- endbuild -->
</head>
  <body ng-app="topicoContentEditors">
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container" ng-view=''></div>
    <div class="hero-unit">
        <textarea ng-model="descriptionMarkdown"></textarea>
        <textarea ng-model="descriptionHtml"></textarea>
        <lazy render-if="lazy">
            <topico-editor markdown="descriptionMarkdown" html="descriptionHtml"></topico-editor>
        </lazy>
        <input type='checkbox' ng-model="lazy"/>


        <textarea ng-model="d1"></textarea>
        <textarea ng-model="d2"></textarea>
        <topico-editor markdown="d1" html="d2"></topico-editor>

        <textarea ng-model="d3"></textarea>
        <textarea ng-model="d4"></textarea>
        <topico-editor markdown="d3" html="d4"></topico-editor>
    </div>


    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>


    <!-- build:js scripts/plugins.js -->
        <script src="bower_components/pagedown-bootstrap/Markdown.Converter.js"></script>
        <script src="bower_components/pagedown-bootstrap/Markdown.Editor.js"></script>
        <script src="bower_components/pagedown-bootstrap/Markdown.Sanitizer.js"></script>
        <script src="bower_components/angular-topico-services/dist/scripts/scripts.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <!-- endbuild -->



        <!-- build:js({.temp,src}) scripts/scripts.js -->
        <script src="scripts/init.js"></script>
        <script src="scripts/services/topicoCEVideoSvc.js"></script>
        <script src="scripts/services/topicoCESvc.js"></script>
        <script src="scripts/services/topicoCEEditorSvc.js"></script>
        <script src="scripts/services/topicoResourcesSvc.js"></script>
        <script src="scripts/services/topicoPopupContentSvc.js"></script>
        <script src="scripts/directives/topicoEditor.js"></script>
        <script src="scripts/directives/topicoVideoEmbed.js"></script>
        <script src="scripts/directives/buttonToggle.js"></script>
        <script src="scripts/directives/lazy.js"></script>
        <script src="scripts/filters/getById.js"></script>
        <!-- endbuild -->



  </body>
</html>
